[Unit]
Description=dbPager Server
Documentation=http://dbpager.com
After=network.target auditd.service

[Service]
Type=forking
PIDFile=/var/run/dbpagerd.pid
ExecStart=/usr/bin/dbpagerd $DBPAGER_OPTS -p /var/run/dbpagerd.pid
ExecStopPost=/bin/rm -f /var/run/dbpagerd.pid
EnvironmentFile=-/etc/default/dbpagerd
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=dbpagerd.service
